.page--search {

  font-family: Roboto;

  display: flex;
  flex-direction: row;

  img {
    width: 100%;
    object-fit: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    width: 100%;
    margin-bottom: 40px;
  }

  .result-container {
    position: relative;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-around;
    flex-direction: row;
    overflow: auto;

    .mdc-button {
      border: 1px solid lightgray;

      span {
        padding-left: 10px;
      }
    }
  }

  .mdc-layout-grid {
    color: #4E5C6E;

    .content-row-1 {
      font-size: 20px;
      padding-bottom: 30px;
    }

    .content-row-2,
    .content-row-3 {
      padding-bottom: 30px;
    }
  }

  .child_common {
    box-sizing: border-box;
    width: 250px;
    padding: 20px;

    background-color: white;
  }

  &__sidepanel {
    flex: 0 0 auto;
    text-transform: capitalize;

    .child_common;

    .sk-panel {
      margin-bottom: 20px;
    }
  }

  &__searchpanel {
    flex: 1 1 0;

    .child_common;

    .sk-search-box {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      border: 1px solid lightgray;

      .sk-search-box__text {
        color: black;

        &::-webkit-input-placeholder {
          color: @global-bg-color;
        }
      }
    }

    .sk-layout__results {
      margin: 0;
      box-shadow: none;

      a {
        text-decoration: none;
      }

      .app-bar {
        position: relative;
        align-items: stretch;
        margin: 10px;
        background-color: #220E10;
        color: white;
        height: 50px;
        padding: 10px;

        a {
          color: white;
        }

        .date {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          color: white;
        }

        a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .mdc-tab-bar a {
        color: black;
      }

      .mdc-layout-grid {
        padding: 0px;
        margin: 10px;
      }

      .button {
        margin: 10px;

        span {
          padding-left: 10px;
        }
      }
    }

    .sk-hits-grid {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sk-pagination-navigation {
      width: auto !important; // lesshint importantRule: false
      margin: 0 30px;
    }
  }
}
