.page-workspace {
  .flex-col;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .two-column-layout() {
    .flex-row;

    & > .left {
      width: 50%;
      max-width: 600px;
    }
    & > .right {
      .layout-fill;
    }

    & > .full {
      width: 100%;
    }

    & > .top-layer {
      z-index: 2;
    }

    & > .bottom-layer {
      z-index: 1;
    }
  }
  .markdown-container() {
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  & > .suite-wrapper {
    .layout-fill;
  }

  .suite-wrapper > .tabs-panel {
    width: 100%;
    height: 100%;
  }

  .tabs-panel {
    .flex-col;

    & > .tabs-panel__content {
      .layout-fill;

      // This is the extra wrapper for each tab content.
      & > div {
        width: 100%;
        height: 100%;

        overflow-x: hidden;
        overflow-y: auto;
      } 
    }
  }

  .tabs-panel .tab-label {
    .flex-row;
    align-items: center;

    & > svg {
      margin-right: 5px;
    }
  }

  .dataset__info-tab {
    .two-column-layout();

    width: 100%;
    height: 100%;
    padding: 10px;

    & > .info__markdown {
      .two-column-layout > .left;
      .two-column-layout > .top-layer;
      .markdown-container;
    }
    & > .info__map {
      .two-column-layout > .right;
      .two-column-layout > .bottom-layer;
    }
  }

  .dataset__download-tab {
    .two-column-layout;

    width: 100%;
    height: 100%;

    & > .download__markdown {
      .two-column-layout > .full;
      .markdown-container;
    }
  }

  .dataset__overlay-tab {
    .two-column-layout;

    width: 100%;
    height: 100%;

    & > .overlay__controls {
      .two-column-layout > .left;
      .two-column-layout > .top-layer;

      .flex-col;

      & > .layer-list {
        .layout-fill;

        overflow: auto;
      }
    }
    & > .overlay__map {
      .two-column-layout > .right;
      .two-column-layout > .bottom-layer;
    }

    .adjustment-option__header {
      .flex-row;
      justify-content: space-between;
    }
  }

  .dataset__analytics-tab {
    .two-column-layout;

    width: 100%;
    height: 100%;

    & > .analytics__controls {
      .two-column-layout > .left;
      .two-column-layout > .top-layer;
    }
    & > .analytics__charts {
      .two-column-layout > .right;
      .two-column-layout > .bottom-layer;
    }

    .analytics__controls {
      .flex-col;

      & > .map {
        .layout-fill;
      }
    }
  }

  .dataset__model-tab {
    .two-column-layout;

    width: 100%;
    height: 100%;

    & > .model__markdown {
      .two-column-layout > .full;
      .markdown-container;
    }
  }

  .dataset__metadata-tab {
    .two-column-layout;

    width: 100%;
    height: 100%;

    & > .metadata__markdown {
      .two-column-layout > .full;
      .markdown-container;
    }
  }

  .layer-list {
    .layer-list__item {
      margin-bottom: 5px;
    }

    .layer-opacity-row {
      .flex-row;

      align-items: center;

      .input-slider--layer-opacity {
        .layout-fill;

        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
