.page-workspace {
  .flex-col;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  & > .main-section {
    .layout-fill;
  }

  .main-section {

    //=================================================================
    // Parent-child positioning styling.
    //=================================================================

    .flex-row;

    & > .main-content {
      .layout-fill;
    }

    //=================================================================
    // Children's own styling.
    //=================================================================

    .side-panel {
      .flex-col;

      box-sizing: content-box;
      background-color: #EAEAEA;
      z-index: 2;
    }

    .side-panel > .side-panel__tabs-panel {
      .layout-fill;
    }

    .side-panel__tabs-panel {
      .flex-col;
    }

    .side-panel__tabs-panel > .side-panel__tab-content {
      .layout-fill;
    }

    // This is the extra wrapper for each tab content.
    .side-panel__tab-content > div {
      .flex-col;

      height: 100%;
      width: 100%;
    }

    .side-panel__tab-content > div > .side-panel__section {
      padding: 10px;

      // A flexible section will fill available space.
      &--flexible {
        .layout-fill;

        overflow: auto;
      }
    }

    .layer-list {
      &__item {
        margin-bottom: 5px;
      }

      .layer-opacity-row {
        .flex-row;

        align-items: center;

        .input-slider--layer-opacity {
          .layout-fill;

          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    .resize-handle--x {
      @handleThickness: 5px;

      z-index: 3;
      flex: 0 0 0;

      position: relative;
      box-sizing: border-box;
      width: 0;
      height: 100%;
      overflow: visible;
      cursor: ew-resize;

      user-select: none;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: -(@handleThickness * 0.4);
        height: auto;
        width: @handleThickness;
      }
    }

    .map-panel {
      z-index: 1;

      .flex-col;

      & > .map-wrapper {
        .flex-layout-fill;
      }
    }
  }
}
