.dataset__analytics-tab {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-areas: "control charts"
                       "toolbar toolbar";
  grid-template-columns: minmax(500px, 2fr) 3fr;
  grid-template-rows: 1fr auto;

  & > .analytics__controls {
    grid-area: control;
    z-index: 3;
  }
  & > .analytics__charts {
    grid-area: charts;
    overflow: hidden;
    z-index: 2;
  }

  & > .analytics__toolbar {
    grid-area: toolbar;
    z-index: 1;
  }

  .analytics__controls {
    overflow: auto;

    .map-and-toolbar {
      padding: 10px;
    }

    .map {
      height: 300px;
    }
  }
}
