@global-bg-color: #37517C;
@global-layout-padding: 20px;
@global-layout-margin: 5px;

html {
  background-color: @global-bg-color;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  * {
    flex: 0 0 auto;
  }

  .layout-fill {
    flex: 1 1 0;
  }
}

.flex-col {
  .flex-row;
  flex-direction: column;
}

.modal {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

@import "{}/imports/ui/layouts/main/style";
@import "{}/imports/ui/layouts/full-window/style";
@import "{}/imports/ui/pages/not-found/style";
@import "{}/imports/ui/pages/home/style";
@import "{}/imports/ui/pages/search/style";
@import "{}/imports/ui/pages/workspace/style";
@import "{}/imports/ui/pages/workspace-charts/style";
@import "{}/imports/ui/pages/model/style";
