@global-bg-color: #F4F7FA;
@global-layout-padding: 20px;
@global-layout-margin: 5px;

#react-root {
  --mdc-theme-primary: #220E10;
}

html {
  background-color: @global-bg-color;
}

a {
  text-decoration: none;
  color:black
}

.mdc-toolbar__section {
  span {
    color: black;
    padding: 15px 20px;
    font-size: 15px;
  }
  .mdc-toolbar__title {
    margin-left: 0px;
  }
  .mdc-simple-menu {
    min-width: 200px;
    border-radius: 0px;
    background-color: black;
    left: 0px;
    top: 30px;

    .mdc-list {
      padding: 0px;
    }
    .mdc-list-item {
      font-size: 15px;
      color: white;
      background-color: black;
    }
  }
  .mdc-menu-anchor:hover {
    span {
      background-color: black;
      color: white
    }

    a {
      text-decoration: none;
      color:white;
    }

    .mdc-simple-menu {
      display: inline-block;
      transform: scale(1);
      opacity: 1;
      background-color: black;
    }
  }
  .mdc-list-item:hover {
    background-color: #DB572F;
  }
}




.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}


.flex-row {
  font-family: Roboto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  * {
    flex: 0 0 auto;
  }

  .layout-fill {
    flex: 1 1 0;
  }
}

.flex-col {
  .flex-row;
  flex-direction: column;
}

.modal {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

@import "{}/imports/ui/layouts/main/style";
@import "{}/imports/ui/layouts/full-window/style";
@import "{}/imports/ui/pages/not-found/style";
@import "{}/imports/ui/pages/home/style";
@import "{}/imports/ui/pages/search/style";
@import "{}/imports/ui/pages/workspace/style";
@import "{}/imports/ui/pages/workspace-charts/style";
@import "{}/imports/ui/pages/model/style";
@import 'rc-slider/assets/index.css';
