.page--workspace {
  .flex-col;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .welcome_info {
    position: fixed;
    margin: auto;
    background-color: white;
    padding: 10px;
    z-index: 10;
    width: 500px;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1px 1px 10px grey;

    h3 {
        text-align: center;
    }

    .mdc-fab {
      background-color: #3F51B5;
      position: absolute;
      top: -25px;
      right: -25px;
      cursor: pointer;
      font-size: 31px;

    }
  }

  .welcome_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }

  & > .section-map {
    .flex-col .layout-fill;
  }

  .section-map {
    .flex-row;

    & > .the-map {
      .flex-col .layout-fill;

      height: 100%;
    }

    .side-panel {
      .flex-col;
      
      width: 300px;
      border-right: @global-layout-margin solid @global-bg-color;
      padding: @global-layout-padding;

      & > fieldset {
        margin: 0;
        border: 0;
        padding: 0;

        & > legend {
          display: block;
          padding: 0.5em 0.2em 0.3em 0.2em;
          font-size: 1.3em;
          font-weight: bold;
        }
      }

      .rc-slider{
        .rc-slider-track {
          background-color: #3F51B5;
        }

        .rc-slider-handle {
          border-color: #3F51B5;
        }


      }

      .map-animation-controls {
        .field--year {
          .flex-col;
          
          align-items: stretch;

          .mdc-fab {
            background-color: #3F51B5;
            width: 30px;
            height: 30px;
          }

          .input-slider--year {
            .flex-row .layout-fill;
            
            margin-left: 10px;
            margin-right: 10px;
          }

          .action--prev-year,
          .action--next-year {
            margin: 0 10px 0 10px;
          }

          .input--year {
            width: 40px;
          }
        }
      }

      .layer-list {
        &__item {
          margin-bottom: 10px;

          .layer-title-row {
            .flex-row;

            .layer-title-label {
              padding: 10px;
            }

            .mdc-list-item__end-detail {
              padding: 10px 0px 10px 0px;
              cursor: pointer;
            }
          }

          .layer-opacity-row {
            .flex-row;
            
            align-items: center;

            .input-slider--layer-opacity {
              .flex-row .layout-fill;
              
              margin-left: 10px;
              margin-right: 10px;
            }
            }
          .mdc-list-divider {
            padding: 5px;
          }
        }
      }
    }

    .the-map {
      border: 0;
    }
  }
}
