.page--workspace {
  padding: 10px;
  background-color: white;

  .section_filter {
    .filter-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      .layout_fill {
        flex: 1 1 0;
      }
    }
  }
}
