.layout-fullWindow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.layout-fullWindow > .layout__header,
.layout-fullWindow > .layout__footer {
  flex: 0 0 auto;
}

.layout-fullWindow > .layout__body {
  flex: 1 1 0;
}
