.workspace-charts .section_range {
  height: 30px;
  padding: 10px;
  background-color: white;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.workspace-charts .section_range > * {
  flex: 0 0 auto;
}

.workspace-charts .section_range > .filter {
  flex: 1 1 0;
}

.workspace-charts .section_range .filter {
  margin-left: 15px;
  margin-right: 15px;
}

.workspace-charts .section_range .text-field {
  width: 35px;
}

.workspace-charts .section_data {
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  background-color: white;
  z-index: 5;
  padding: 10px;
  min-width: 300px;
}
