.workspace-charts .section_range {
  height: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.workspace-charts .section_range > * {
  flex: 0 0 auto;
}

.workspace-charts .section_range > .filter {
  flex: 1 1 0;
}

.workspace-charts .section_range .filter {
  margin-left: 15px;
  margin-right: 15px;
}

.workspace-charts .section_range .text-field {
  width: 35px;
}
