.page.layout-main {
  width: 80%;
  margin: 0 auto 30px auto;

  .page__header,
  .page__body,
  .page__footer {
    padding: @global-layout-padding;
    margin-bottom: @global-layout-margin;
    background-color: white;
  }

  .page__footer {
    .flex-row;
    
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
}
